@import "skeleton.scss";
@import "utils.scss";
@import "contacts.scss";
@import "gallary.scss";

html, body {
	height: 100%;
	overflow: auto;
}

section {
	background-size: cover;
}

.slide {
	background-position: center;

	&.albom {
		background-size: cover;

		@media only screen and ($bp-larger-than-desktophd) {
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	&.portrait {
		background-size: contain;
		background-repeat: no-repeat;
	}
}

#landing {
	background-image: url(/images/landing.jpg);
	background-position-x: 15%;
	background-position-y: 0;
	background-color: rgba(0,0,0,0.5);
}

.case.screen {
	.slide {
		background-position: center;
		background-size: cover;
	}
    
	&.weddings .slide:first-child {
		background-position-x: 0;
	}
    
	&.commercial .slide:first-child {
		background-position-y: 0;
	}

	.price.container, .description.container {
		height: 100vh;
		padding: 0;
		width: 90%;

		.row {
			position: absolute;
			bottom: 15vh;
			border-radius: 7vh;
			margin: auto;
			left: 7vw;
			right: 7vw;
			background-color: rgba(0,0,0,0.5);
			padding: 10px 20px;
			color: #fff;
		}
	}

	h2 {
		margin: auto;
	}
}

.container {
	padding: 0 20px;

	@media only screen and ($bp-larger-than-phablet) {
		padding: 0 20vw;
	}

	@media only screen and ($bp-larger-than-tablet) {
		padding: 0 15vw;
	}
    
    &.description .row {
        left: 0 !important;
        right: 0 !important;
    }
}

.contacts {
	color: #fff;
	text-align: left;

	background-position-x: 50%;

	.container {
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 30vh;
		max-width: none;
		background-color: #222;
        padding: 0;
        
        &.mobile {
    		height: 60vh;
            
            .row {
                text-align: left;
                padding-left: 10vw;
                min-height: 7vh;
            }
        }
        
        &.phablet, &.tablet {
    		height: 45vh;
            
            .row {
                min-height: 10vh;
            }
        }

        .row {
            min-height: 5vh;
        }
	}
    
	.contact {
		&.icon {
			vertical-align: middle;
		}

		&.link {
			text-decoration: none;
		}

		&.text {
			border-bottom: 1px solid;
			border-color: transparent;
			-moz-transition: .3s ease-in-out all;
			-o-transition: .3s ease-in-out all;
			-webkit-transition: .3s ease-in-out all;
			transition: .3s ease-in-out all;

			&:hover {
				border-color: #fff;
				-moz-transition: .3s ease-in-out all;
				-o-transition: .3s ease-in-out all;
				-webkit-transition: .3s ease-in-out all;
				transition: .3s ease-in-out all;
			}
		}
	}
}

.landing.image {
	width: 100% !important;
	height: auto !important;
	position: absolute;
	top: 0;
}

.screen {
	position: relative;
	height: 100vh;
	width: 100%;
	text-align: center;
}

.background {
	@include horizontal-absolute-centered;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);

	.header {
		@include horizontal-absolute-centered;
		bottom: 6vh;
		color: #fff;
		text-align: center;
		font-style: italic;
	}
}

.see.more {
	margin: auto;
	color: #fff;
	fill: #fff;
	border: 2px solid #fff;
}

.next {
    position: absolute;
    bottom: 6vh;
    left: 0;
    right: 0;
    margin: auto;
}

.mobile-only {
	display: block;
}

.margined {
	margin-top: 15%;
}

.max-hieght.half-screen {
	max-height: 50vh;
}

.navigation {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 4;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	fill: #fff;
	cursor: pointer;
	transition: background-color ease-in-out .3s;

	&:hover {
		background-color: rgba(0, 0, 0, .7);
		transition: background-color ease-in-out .3s;
	}
}

.layout-menu {
	position: absolute;
	z-index: 4;
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	fill: #fff;
	cursor: pointer;
	transition: background-color ease-in-out .3s;

	&:hover {
		background-color: rgba(0, 0, 0, .7);
		transition: background-color ease-in-out .3s;
	}
    
    &.navigation {
        width: 50px;
        height: 50px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    
    &.left {
        left: 1vw;
    }

    &.right {
        right: 1vw;
    }

    &.bottom {
        height: 50px;
        bottom: 5vw;
        top: initial;
    }
}

.hidden {
    display: none !important;
}

.fp-slidesNav {
    left: initial !important;
    right: 0 !important;
    
    &.bottom {
        bottom: 0 !important;
    }

    ul {
        height: 1vh;

        li {
            height: 0 !important;
            margin: 0 !important;
            vertical-align: top;
        
            & a.active span {
                margin: 0 !important;
                background: #fff !important;
                transition: background 1s ease-in-out !important;
            }   

            & a span {
                border-radius: 0 !important;
                margin: 0 !important;
                height: 1vh !important;
                transition: background 1s ease-in-out !important;
            }
        }
    }
}

ul#menu {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    &.faded {
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    list-style: circle inside;
    margin: 0;
    padding: 0;
    background-color: #222;

    li {
        margin: 0;
        padding: 0;
        text-align: center;
        width: 25%;
        position: relative;
        display: block;
        float: left;
        color: #fff;
        text-decoration: none;
        transition: all .5s ease-in-out;

        &.active {
            color: #222;
            background-color: #fff;
            transition: all .5s ease-in-out;
            
            a {
                color: #222;
                transition: all .5s ease-in-out;
            }
        }
        
        a {
            text-decoration: none;
            display: block;
        }
    }
}

.person-link {
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-color: transparent;
    transition: all .3s ease-in-out;
    
    &:hover {
        border-bottom-color: #fff;
        transition: all .3s ease-in-out;
    } 
}

.icon {
    background-color: transparent !important;
}
